body, ul {
    margin: 0;
    padding: 0;
  }
  html{
    scroll-behavior: smooth;
}

.aboutUs, .home, .contactUs, .download, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
  
 
  nav {
    background-color:rgb(23, 187, 220); 
   
    
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }
  
  li {
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: white; 
    padding: 10px;
    display: block;
    color: rgb(254, 254, 254);
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif; 
  }
  

/*About Page */


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.hero-section{
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}


.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

/* about  */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}


.hero-image {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/home.jpg");
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: grayscale(50%);
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

